.art_indem_img{
    width: 80%;
    height: 580px;
}

.bio_inem{
    font-size: 18px;
}

.back_indem{
    position: relative;
    height: 520px;
    width:100%;
    background: url('../img/footer_indemonium.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}


