@font-face {font-family: mayafont;src: url('../css/siamese.ttf');}
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --color-text: #fff;
    --color-bg: rgb(0, 0, 0);
    --color-link: #fff;
    --color-link-hover: #fff;
    --page-padding: 1.5rem 2rem;
}

body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: area-normal, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(180deg,
            hsl(0, 100%, 0%) 0%,
            hsl(0, 100%, 0%) 10%,
            hsl(0, 100%, 0%) 20%,
            hsl(0, 100%, 0%) 30%,
            hsl(0, 100%, 0%) 40%,
            hsl(0, 100%, 0%) 50%,
            hsl(0, 100%, 0%) 60%,
            hsl(0, 100%, 0%) 70%,
            hsl(0, 100%, 0%) 80%,
            hsl(0, 100%, 0%) 90%,
            hsl(0, 0%, 77%) 100%);
    overflow-x: hidden;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
    cursor: pointer;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
    /* Provide a fallback style for browsers
	 that don't support :focus-visible */
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
    background: transparent;
}

a:focus-visible {
    /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
    outline: 2px solid red;
    background: transparent;
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

main {
    counter-reset: section;
}

.splitting .word {
    white-space: nowrap;
}

.frame {
    color: var(--color-title);
    padding: var(--page-padding);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'title''prev''sponsor';
    justify-content: start;
    justify-items: end;
    margin-bottom: 3rem;
    grid-gap: 0.5rem;
    align-items: start;
    font-weight: 600;
    font-size: 14px;
}

.frame a:not(.frame__title-back) {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.frame a:not(.frame__title-back)::before {
    content: '';
    height: 1px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 90%;
    transition: transform 0.3s;
    transform-origin: 0% 50%;
}

.frame a:not(.frame__title-back):hover::before {
    transform: scaleX(0);
    transform-origin: 100% 50%;
}

.frame__title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.frame__title-main {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
}

.frame__title-back {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.frame__title-back svg {
    fill: currentColor;
}

.frame__prev {
    grid-area: prev;
    align-self: start;
}

.intro {
    height: 105vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.intro__title {
    display: grid;
    place-items: center;
    margin: 0;
    line-height: 0.9;
    font-weight: 300;
}

.intro__title-pre {
    font-family: mayafont;
    font-weight: 800;
    text-transform: uppercase;
    font-size: clamp(2rem, 10vw, 9rem);
}

.intro__title-sub {
    font-family: mayafont;
    font-size: clamp(1rem, 6vw, 2.75rem);
}

.intro__info {
    position: relative;
    max-width: 230px;
    opacity: 0.6;
    line-height: 1.2;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
}

.intro__info::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 2rem;
    background: #fff;
    top: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    padding: var(--page-padding);
}

.content:last-child {
    padding-bottom: 40vh;
}

.content--full {
    padding: 0;
}

.content p {
    max-width: 660px;
    margin: 1.5rem auto;
    font-size: 1.25rem;
}

.content--highlight p {
    font-size: clamp(1rem, 3vw, 2rem);
}

.content--highlight2 p {
    font-size: clamp(1rem, 1vw, 1rem);
}

.content__title {
    font-size: 12vw;
    line-height: 0.8;
    counter-increment: section;
    text-align: center;
    display: grid;
    gap: 2rem;
}

.content__title::before {
    /* content: '.'counter(section); */
    font-weight: 400;
    font-family: area-normal, sans-serif;
    display: block;
    font-size: 1rem;
    margin-bottom: 10vh;
    text-align: center;
}

.content__title--sides {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    text-align: left;
    gap: 2rem;
}

.content__title--sides span:last-child {
    justify-self: end;
}

.font-1 {
    font-family: wayfinder-cf, serif;
    font-weight: 100;
}

.font-2 {
    font-family: mayafont;
    font-weight: 400;
}

.font-3 {
    font-family: mayafont;
    font-weight: 600;
}

.font-4 {
    font-family: campaign-serif, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.font-5 {
    font-family: mayafont;
    font-weight: 300;
    text-transform: uppercase;
}

.font-6 {
    font-family: mayafont;
    font-weight: 400;
}

.font-7 {
    font-family: mayafont;
    font-weight: 400;
}

.font-8 {
    font-family: monotalic, sans-serif;
    font-weight: 400;
    text-transform: lowercase;
}

.font-9 {
    font-family: aziga, sans-serif;
    font-weight: 400;
}

.font-10 {
    font-family: norman-stencil, sans-serif;
    font-weight: 800;
}

.font-11 {
    font-family: neighbor, sans-serif;
    font-weight: 400;
}

.font-12 {
    font-family: halogen, sans-serif;
    font-weight: 700;
}

.font-height {
    line-height: 1.4;
}

.font-larger {
    font-size: 27vw;
}

.font-upper {
    text-transform: uppercase;
}

.font-sub {
    font-size: 5vw;
    margin-top: 2rem;
    display: block;
}

.splitting .font-sub .word {
    display: grid;
    grid-auto-flow: column;
}

.font-medium {
    font-size: 6vw;
    margin-top: 3rem;
}

.char-wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.menu_btn {
    background-color: transparent;
}

.logo_menu {
    cursor: pointer;
    width: 120px;
    height: 120px;
}

.pushy-submenu {
    text-decoration: none;
}

.imagen-artista {
    width: 100%;
    height: 450px;
}



.column {
    margin: 0;
    padding: 0;

}

.column:last-child {
    padding-bottom: 60px;
}

.column::after {
    content: '';
    clear: both;
    display: block;
}

.column div {
    position: relative;
    float: left;
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
}

.column div:first-child {
    margin-left: 0;
}

.column div span {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}

figure {
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -10px;
    opacity: 1;
    z-index: 20;
}


/* Blur */
.hover07 figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover07 figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.artistas .row .col {
    border-radius: 10px;
}


/*____________________________FORM____________________________________*/

.login-box {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: transparent;

}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}


/*______________________________FORM____________________________________*/


.pic_artista {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.pic_artista:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
    transition: 0.5s;
}

.ali_phot{
    width: 100%;
    height: 100%;
}

.ant_phot{
    width: 100%;
    height: 100%;
}

.anti_phot{
    width: 100%;
    height: 100%;
}

.hum_phot{
    width: 100%;
    height: 100%;
}

.intro_phot{
    width: 100%;
    height: 100%;
}

.knock_phot{
    width: 100%;
    height: 100%;
}

.rema_phot{
    width: 100%;
    height: 100%;
}

.logo_phot{
    width: 100%;
    height: 100%;
}

.indem_phot{
    width: 100%;
    height: 100%;
}

.muzz_phot{
    width: 100%;
    height: 100%;
}

.polsk_phot{
    width: 100%;
    height: 100%;
}

.rek_phot{
    width: 100%;
    height: 100%;
}

.zandz_phot{
    width: 100%;
    height: 100%;
}
/* Position text in the middle of the page/image */
.pic_logo {
    position: relative;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.pic_logo_artist {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.pic_logo_antaluk{
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 200px;
    height: 300px;
    text-align: center;
}

.pic_logo_antidota{
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 180px;
    height: 250px;
    text-align: center;
}

.pic_logo_introspect{
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 200px;
    height: 280px;
    text-align: center;
}

.pic_logo_hum {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 200px;
    height: 150px;
    text-align: center;
}

.pic_logo_knock {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding-top: 2em;
    width: 130px;
    height: 130px;
    text-align: center;
}

.pic_logo_anti {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    width: 200px;
    height: 180px;
    text-align: center;
}

.pic_logo_indem {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 200px;
    height: 120px;
    text-align: center;
}

.pic_logo_muzz {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 180px;
    height: 120px;
    text-align: center;
}

.pic_logo_rekiem {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 200px;
    height: 180px;
    text-align: center;
}

.menu_maya {
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 53em) {
    .frame {
        justify-items: start;
        grid-gap: 2rem;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'title prev sponsor';
    }
}



.row_img {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column_img2 {
    flex: 25%;
    padding: 0 4px;
  }
  
  .column_img2 img {
    margin-top: 24px;
    vertical-align: middle;
  }



  /* Position the image container (needed to position the left and right arrows) */
.container_gal {
    position: relative;
   /* margin-bottom: 3em; */
   margin: 0 auto;
   width: 60%;
   height: 60%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row_gal:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column_gal {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }





  .login-box{
    width: 500px;

  }

  .img_spon img{
width: 100px;
height: 100px;
  }

  .container_merch > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  
  .container_merch > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px rgba(0,0,0,.2);;
  }
  
  .container_merch {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
  }
  
  .horizontal {
    grid-column: span 2;
  }
  
  .vertical {
    grid-row: span 2;
  }
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }

  .pic_gallery {
    height: 320px;
    margin: 5px;
  }

  .logo_about {
    width: 250px;
    height: 320px;
    margin: 5px;
  }
  .indem_pic_gallery{
    width: 100%;
    height: 250px;
  }
  .about_text {
    margin-left: 150px;
    margin-right: 150px;
  }
  .foot{
    width: 100%;
    height: 250px;
  }
  .foot img{
    width: 200px;
    height: 200px;
    
  }

  .img_spon_foot img{
    width: 45px;
    height: 45px;
      }


.merch_modal img{
    width: 200px;
    height: 200px;
}
.modal-content{
    background-color: #222;
}

.img_spon_foot i{
    margin: 2px;
    padding-top: 15px;
}

.img_spon_foot .beatportlog{
    width: 55px;
    height: 55px;
    position: relative;
    bottom: 10;
}

.img_spon .beatportlog2{
    width: 75px;
    height: 75px;
    position: relative;
    bottom: 18;
}

.logo_alpha {
    opacity: 0.5;
}

.video_about{
    width: 100%;
    height: 100%;
}

.ir-arriba{
    display: none;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.78);
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
}


.logo_menu_maya{
width: 150px;
height: 150px;
margin-left: 22px;
}

/* SLIDER */
.container_releases {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
}
.container_releases > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
}
.container_releases > div:nth-of-type(1) {
    background: url("../img/r6.jpg") no-repeat 50% / cover;
}
.container_releases > div:nth-of-type(2) {
    background: url("../img/r1.png") no-repeat 50% / cover;
}
.container_releases > div:nth-of-type(3) {
    background: url("../img/r2.png") no-repeat 50% / cover;
}
.container_releases > div:nth-of-type(4) {
    background: url("../img/r3.png") no-repeat 50% / cover;
}

.container_releases > div:nth-of-type(5) {
    background: url("../img/r4.png") no-repeat 50% / cover;
}

.container_releases > div:nth-of-type(6) {
    background: url("../img/r5.png") no-repeat 50% / cover;
}
.container_releases > div .content_releases {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: #02022e;
    background: linear-gradient(0deg, rgba(2, 2, 46, 0.6755077030812324) 0%, rgba(255, 255, 255, 0) 100%);
    transform: translatey(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    visibility: hidden;
}
.container_releases > div .content_releases span {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
}
.container_releases > div:hover {
    flex: 0 0 250px;
    box-shadow: 1px 3px 15px #7645d8;
    transform: translatey(-30px);
}
.container_releases > div:hover .content_releases {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
}

/* SLIDER */



.spoty_frame {
    position: relative;
    left: 0; 
    width: 80%; 
    height: 352px; 
}

.container_full{
    width: 100%;
    height: 500px;
}
